.vscode/*

Examples/Thread_example/main
Examples/Sample_pThread/main
Examples/ip_Scanner/main

*.dSYM
Examples/Sleep_example/main
pThread_Samples/pthread_Ex1/main
pThread_Samples/pthread_Ex1_SingleThread/main
pThread_Samples/pthread_Ex2_MultipleThreads/main
pThread_Samples/pthread_Ex3_Destroy/main
pThread_Samples/pthread_Ex4_Communication/main
pThread_Samples/pthread_Ex5_Syncronisation/main
pThread_Samples/pthread_Ex6_Syncronistation_Condition/main
